USE [master]
GO
/****** Object:  Database [Restuarant]    Script Date: 2/6/2017 7:31:32 AM ******/
CREATE DATABASE [Restuarant]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Restuarant', FILENAME = N'D:\pro file\SQL\MSSQL12.MSSQLSERVER\MSSQL\DATA\Restuarant.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Restuarant_log', FILENAME = N'D:\pro file\SQL\MSSQL12.MSSQLSERVER\MSSQL\DATA\Restuarant_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Restuarant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Restuarant]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 2/6/2017 7:31:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
	[Description] [varchar](250) NULL,
	[Category] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
